.welcome-small {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(../images/home-header.jpg) no-repeat center top;
    background-size: cover;
    height: 20rem;
    flex: 1;
}

.mood-small {
    display: flex;
    flex-direction: column;
    background: url(../images/forested-mountain.jpg) ;
    background-size: cover;
    height: 25rem;
    flex: 1;
}

h1 {
    font-family: var(--h1-font), Arial, Helvetica, sans-serif;
}

h2 {
    font-family: var(--h2-font), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;       
}

h3 {
    text-align: center;
}

h1, h2 {
     font-size: 1.5rem;
    text-shadow: 2px 2px 20px #EFEA9F;
     color: var(--main-color);
   margin-left: 20px;
}

.moved-text {
    margin-left: 10%;
}

.mood-large, .welcome-large {
    display: none;
}
 
.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.carousel-text {
    margin-left: 20px;
}

.carousel img {
    max-width: 150px;
}

.jacket-one, .jacket-two {
    margin: 20px;   
}
