.welcome-small {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(../images/home-header.jpg) no-repeat right top;
    background-size: cover;
    height: 20rem;

}
.attribution {
 position: absolute;
    color: var(--secondary-color);
    box-shadow: inset 400px 0px 0px rgba(9,53, 65, 1);
    font-size: 12px;
    padding: 0px 5px 0px 10px;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.attribution a {
    color: var(--secondary-color);
}

.mood-small {
    display: flex;
    flex-direction: column;
    background: url(../images/forested-mountain.jpg) ;
    background-size: cover;
    height: 25rem;
    flex: 1;
}

h1 {
    font-family: var(--h1-font), Arial, Helvetica, sans-serif;
}

.welcome-h2 {
    font-family: var(--h2-font), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;       
    font-weight: lighter;
    letter-spacing: 15%;
}

h3 {
    text-align: center;
}

h1, h2 {
     font-size: 1.5rem;
    text-shadow: 2px 2px 20px #EFEA9F;
     color: var(--main-color);
   margin-left: 20px;
}

.moved-text {
    margin-left: 15%;
}

.mood-large, .welcome-large {
    display: none;
}
 
.carousel {
    display: flex;
    justify-content: center;

}
.carousel img {
    max-width: 150px;
    margin: 30px;
}
