section {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 15px;
}

.product-container {
    border: solid 1px #093541;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 5px;
}

.product-container img {
    height: 150px;
}

h1 {
    text-align: center;
}

 h2, h3 {
    text-align: left;
    line-height: 10%;
 }
