@media (min-width: 800px) {
    img {
        max-width: 30%;
    }
    
    .costumer-icons {
        display: none;
    }

  .hamburger-icon {
    display: none;
  }
  .second-header {
    justify-content: center;
    font-size: 1.5em;
  }
  
  .footer-small {
    display: none;
  }
 

}
