@media (min-width: 800px) {
    
    .logo {
        max-width: 15%;
    }
    
    .costumer-icons {
        display: none;
    }

  .hamburger-icon {
    display: none;
  }
  .second-header {
    justify-content: center;
    font-size: 1rem;
  }
  
  .footer-small {
    display: none;
  }
.footer-large, .nav-large {
 display: flex; 
 justify-content: space-between;
 align-items: center;
  width: 100%;
  border: solid 1px;
  background-color: #fffcfc;
  color: var(--main-color);
  font-size: 1rem;
  max-height: 40px;


}
.nav-large li:hover, .footer-large li:hover {
    font-weight: bold;
}

.footer-large {
     bottom: 0;
      position: fixed;
      z-index: 1;
}
.footer-large ul, .nav-large ul {

    display: flex;

}

.footer-large li, .nav-large li {
    margin-left: 30px;
    list-style: none;
}

.footer-large__icons, .nav-large__icons {
    margin-right: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;


}
.footer-large__icons a, .nav-large__icons a {
    color: var(--main-color);
}
/**idex page **/
.mood {
    display: none;
}
.welcome-large {
    display: flex;
    flex-direction: column;
    height: 30rem;
    background: url(../images/home-header.jpg)  no-repeat center top;
    box-shadow: inset 30rem 0px 0px rgba(219, 220, 240, 0.5);
    background-size: 100%;
}
.cta-main {
    margin-left: 25rem;
    margin-top: 15rem;
    font-size: 1rem;
}
.mood-small {
    display: none;
}
.mood-large {
    display: flex;
    position: relative;
    justify-content: center;
}

video {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: 10px;

}
.video-text {
    color: var(--main-color);
    box-shadow: inset 900px 900px 0px rgba(255,252, 252, 0.75);
    font-size: 0.9rem;
    border-radius: 30px;    
    position: absolute;
    bottom: 20px;
    line-height: 2em;
    z-index: 1;
    padding: 0px 30px 0px 30px;
  width: 21%;
 
}
h1, h2 {
    font-size: 2rem;
    text-shadow: none;
    line-height: 140%;
}
h2 {
    font-weight: lighter;
    letter-spacing: 30%;
}
.welcome-small {
    display: none;
}
.carousel img {
    margin-left: 25rem;
}
.jackets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/**success page**/

.success-page {
    display: block;
   text-align: center;
  margin-left: 24rem;
  margin-right: 24rem;
}

/**payment details page**/

.payment-details__page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    column-gap: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: solid 1px var(--main-color);
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}
.summary {
    border: solid, 1px var(--main-color);
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


input {
    border-radius: 5px;
    border: solid 1px;
    box-shadow:  0px 0px 2px 0px inset;
    width: 130px;
}
.quick-checkout {
  position: absolute;
  top: 12rem;
  margin-left: 30px;

}
.cta-payment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}



.card-details, .personal-info {
    margin-top: 100px;
}
/**jacket spesific**/
.jacket-spesific__page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 30px;

}
.jacket-spesific__page img {
    max-width: 200px;
    border: solid 1px var(--main-color);
    padding: 10px;
    margin: 10px;
}

/**cart page**/
.cart-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 250px;
}
.cart-img {
    border: solid 1px;
    max-width: 150px;
    margin: 20px;
}
.your-items {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
}
.your-cart {
  
    text-align: left;
    border: solid 1px;
    border-radius: 5px;
    padding: 20px;
   

}
.button {
    margin: -4;
}

} 
