@media (min-width: 600px) {

.jackets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

}

@media (min-width: 800px) {
    
.logo {
     max-width: 15%;
     border: none;
} 

.hamburger-icon, .footer-small, .costumer-icons {
    display: none;
}

  .second-header {
    justify-content: center;
    font-size: 1rem;
}
  
.footer-large, .nav-large {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: solid 1px;
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: 1rem;
    max-height: 40px;
    box-sizing: border-box; 
}

.nav-large li:hover, .footer-large li:hover {
    font-weight: bold;
}

.footer-large {
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.footer-large ul, .nav-large ul {
    display: flex;
}

.footer-large li, .nav-large li {
    margin-left: 30px;
    list-style: none;  
}

.footer-large__icons, .nav-large__icons {
    margin-right: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.footer-large__icons a, .nav-large__icons a {
    color: var(--main-color);
}

/**index page **/

.cta-main {
    margin-left: 20rem;
    margin-top: 11rem;
    font-size: 1rem;
}

.mood, .mood-small, .welcome-small {
    display: none;
}

.welcome-large {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20rem;
    background: url(../images/home-header.jpg)  no-repeat center top;
    box-shadow: inset 25rem 0px 0px rgba(219, 220, 240, 0.5);
    background-size: 100%;
}

.mood-large {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1;
}

video {
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: 10px;
}

.video-text {
    color: var(--main-color);
    box-shadow: inset 900px 900px 0px rgba(255,252, 252, 0.75);
    font-size: 0.9rem;
    border-radius: 30px;    
    position: absolute;
    bottom: 20px;
    line-height: 2em;
    z-index: 1;
    padding: 0px 30px 0px 30px;
    width: 21%;
}

.welcome-h2 {
    font-size: 1.3rem;
}

h1, h2 {
    font-size: 2rem;
    text-shadow: none;
    line-height: 110%;
}

 /**jackets page**/

.jackets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/**jacket spesific**/

.jacket-spesific__page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 30px;
}

.jacket-spesific__page img {
    max-width: 80%;
    border: solid 1px var(--main-color);
    padding: 10px;
    margin: 10px;
}

/**cart page**/

.cart-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.cart-img {
    border: solid 1px;
    max-width: 60%;
}

.your-items {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    width: 60%;
}
.cta-cart {
    margin-left: -30%;
}

.items-text {
    margin-left: 20px;
}

.your-cart {
    text-align: left;
    border: solid 1px;
    border-radius: 5px;
   padding: 2%;
}

.product-cart {
    margin-bottom: 100px;
}

/**payment details page**/

.quick-checkout {
    position: absolute;
    display: flex;
    align-items: flex-start;
}

.cta-payment {
    display: flex;
    flex-direction: row;
}

.payment-details__page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 12px;
    column-gap: 20px;
    margin-top: 40px;
}

.card-info {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: solid 1px var(--main-color);
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.summary {
    border: solid, 1px var(--main-color);
    border-radius: 5px;
}

input {
    border-radius: 5px;
    border: solid 1px;
    box-shadow:  0px 0px 2px 0px inset;
    width: 130px;
}

.card-details, .personal-info {
    margin-top: 100px;
}

/**success page**/

.success-page {
    display: block;
    text-align: center;
    margin: 0% 30%;
}

} 

@media (min-width: 1100px) {

.welcome-large {
    box-shadow: inset 30rem 0px 0px rgba(219, 220, 240, 0.5);
    
}
.cta-main {
    margin-left: 25rem;
    margin-top: 13rem;
}

.moved-text {
    margin-left: 5%;
}
}