.payment-details__page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1rem;
}

input, label {
    display: block;
    margin: 5px;
}

.required {
    color: rgb(211, 39, 39);
    font-weight: bold;
}

.fa-brands {
    font-size: 1.5rem;
    margin-left: 5px;
}

.cta-payment {
    display: flex;
    flex-direction: column;
}

.apple, .google {
    background-color: var(--main-color);
    color: white;
}

.paypal {
    background-color: #ffd140;
    color: #003087;
}

.apple, .google, .paypal {
    margin: 5px;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
    max-width: 150px;
}

.summary {
    border: solid 1px var(--main-color);
    text-align: left;
    padding: 30px;
}

.small-input {
    max-width: 50%;
}

.cta {
    margin-top: 20px;
}
