@import "imports/variables.css";
@import "imports/links.css";

@font-face {
  font-family: "Jaldi-regular";
src: url("/fonts/Jaldi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Notable-regular;
  src: url("/fonts/Notable-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OrelegaOne-regular";
  src: url("/fonts/OrelegaOne-Regular.ttf") format("truetype");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--paragraph-font), Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  font-family: var(--paragraph-font), Verdana, Geneva, Tahoma, sans-serif;
  color: #093541;
}

.main-header {
   background: linear-gradient(to right,#093541 0%, #EFEA9F 25% 75%,#093541 100%);
   position: relative;
   text-align: center;
   justify-content: center;
}

.logo {
  max-width: 150px;
}

.second-header {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 0.8rem;
}

.close {
  color: var(--secondary-color);
  background-color: var(--main-color);
  font-size: 1.5rem;
  float: right;
}

.hamburger-nav, #menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .hamburger-nav {
    display: block;
}

.hamburger-nav {
  position: fixed;
  background: var(--main-color);
  top: 9rem;
  left: 8px;
  padding: 0px 20px 20px 10px;
  font-size: 2rem;
  z-index: 1;
}

ul {
  padding: 0px;
}

.hamburger-nav__icons {
  padding: 25px 0px 0px 0px;
  float: inline-end;
  color: var(--secondary-color);
}

.hamburger-nav li{
  display: block;
  color: var(--secondary-color);
  padding: 5px;
}

.footer-small__icons, .footer-small__text {
   display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1rem;
  color: var(--secondary-color);
}

.footer-small {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--main-color);
  color: var(--secondary-color);
  z-index: 1;
}

.footer-small a {
  color: var(--secondary-color);
}

.footer-large, .nav-large {
  display: none;
}

main {
  padding-bottom: 100px;
}

button {
  font-size: 0.8rem;
  margin: -1px;
  margin-bottom: 20px;
  color: var(--main-color);
}

button:focus {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.buttons {
    display: flex;
}

th, td {
    padding: 40px 30px;
}

.under-construction {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.fa-brush {
  font-size: 5em;
  color: var(--main-color);
}

