@import "imports/variables.css";

@font-face {
  font-family: "Jaldi-regular";
  src: url("/fonts/Jaldi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Notable-regular";
  src: url("/fonts/Notable-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OrelegaOne-regular";
  src: url("/fonts/OrelegaOne-Regular.ttf") format("truetype");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  font-family: "Jaldi-regular";
}

.main-header {
   background: linear-gradient(to right,#093541 0%, #EFEA9F 25% 75%,#093541 100%);
   position: relative;
   text-align: center;
   justify-content: center;
}

.logo {
  max-width: 150px;
}

.second-header {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 0.8rem;

}
a {
    text-decoration: none;
    color: var(--main-color);
}

.hamburger-nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .hamburger-nav {
    display: block;
}
.hamburger-nav {

    position: fixed;
    background: var(--main-color);
    top: 8rem;
    left: 8px;
    padding: 0px 20px 20px 10px;
    font-size: 1rem;
    z-index: 1;
}

ul {
  padding: 0px;
}

.hamburger-nav li{
    display: block;
    color: var(--secondary-color);
    padding: 5px;
}
 
.hamburger-nav a {
  color: var(--secondary-color);
  text-decoration: none;
}
.sale-cta {
  text-decoration: underline;
  margin-left: 3px;
  color: var(--secondary-color);
}

.costumer-icons a {
  color: var(--secondary-color);
}

.hamburger-nav__icons {
 padding: 25px 0px 0px 0px;
  float: inline-end;
  color: var(--secondary-color);
}

.footer-small {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--main-color);
 color: var(--secondary-color);

}

.footer-small__icons {
 display: flex;
 justify-content: space-evenly;
 list-style: none;
 font-size: 18px;

}
.footer-small__text {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 16px;
}

.footer-large {
  display: none;
}
.nav-large {
  display: none;
}
main {
  padding-bottom: 100px;
}
.cta {
  display: flex;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  padding: 5px;
max-width: 160px;
justify-content: center;
   }


button {
  font-size: 0.8rem;
  margin: 5px;
  margin-bottom: 20px;
}

 button:focus {
  background-color: var(--main-color);
  color: var(--secondary-color);
 }
 .under-construction {
  display: flex;
  flex-direction: column;
 align-items: center;

 }
.fa-brush {
  font-size: 5em;
  color: var(--main-color);
}
